@model LinkedNewsChatApp.Data.News

@{
    ViewData["Title"] = "Видалення новини";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>News</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.photo)
        </dt>
        <dd class = "col-sm-10">
            @{/*Html.DisplayFor(model => model.photo)*/}
            @{

                string base64String = Convert.ToBase64String(Model.photo);
            }
            <img src="data:image/png;base64, @(base64String)" width="256" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
    </dl>
     @using (Html.BeginForm("Delete", "NewsEdit", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <div class="form-group">
            <label name="AdminPassword" class="control-label"></label>
            <input type="password" name="password" class="form-control" required />
            <!--<span asp-validation-for="photo" class="text-danger"></span>-->
        </div>
        
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a id="Na" asp-action="Index">Повернутись до списку новин</a>
       <br/>
    </form>
    }
</div>
