@model IEnumerable<LinkedNewsChatApp.Data.News>

@{
    ViewData["Title"] = "Новини";
    
}



<p>
    <a asp-action="Create" class="btn btn-primary"> 
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-plus" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
  <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
</svg> Створити</a>
</p>

   <main class="main columns">
@foreach (var item in Model)
{

  <section class="column_NI">
    <a class="article_NI"  asp-action="DataView" asp-route-id="@item.id"> 
      <figure class="article_image">
                    @{
                        string base64String = Convert.ToBase64String(item.photo);
                    }
                    <img src="data:image/png;base64, @(base64String)" width="180" />
      </figure></a>
      <div class="article_body">
        <h2 class="article_title">
                        @item.title
        </h2>
         <h2 class="article_title">
                        @item.Category
        </h2>
        <footer id="article_info" style="text-align:center; align-items:center;">
            <span style="margin-right: 1.5em;" id="actions" >
              <a asp-action="Edit" asp-route-id="@item.id"><i class="fas fa-edit"></i>
              </a> |
                <a asp-action="DataView" asp-route-id="@item.id"><i class="fas fa-info-circle"></i>
                </a> |
                <a asp-action="Delete" asp-route-id="@item.id"><i class="fas fa-trash"></i>
                 </a>
            </span>
             <br/>
            <div>
            <span id="time"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@item.Time</span>
              
            </div>
              
        </footer>
      </div>
   
  </section>
}


</main>
           
  
<div style="display: flex; justify-content: center;">
    <nav>
        <ul id="page_scroll" class="pagination">
            <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" asp-action="Index"  asp-route-page="@(ViewBag.CurrentPage - 1)">&laquo;</a>
            </li>

            @if (ViewBag.TotalPages <= 5)
            {
                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                        <a class="page-link" asp-action="Index"  asp-route-page="@i">@i</a>
                    </li>
                }
            }
            else
            {
                @if (ViewBag.CurrentPage > 3)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Index"  asp-route-page="1">1</a>
                    </li>
                    @if (ViewBag.CurrentPage > 4)
                    {
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    }
                }
                @for (int i = Math.Max(1, ViewBag.CurrentPage - 2); i <= Math.Min(ViewBag.TotalPages, ViewBag.CurrentPage + 2); i++)
                {
                    <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                        <a class="page-link" asp-action="Index"  asp-route-page="@i">@i</a>
                    </li>
                }
                @if (ViewBag.CurrentPage < ViewBag.TotalPages - 2)
                {
                    @if (ViewBag.CurrentPage < ViewBag.TotalPages - 3)
                    {
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    }
                    <li class="page-item">
                        <a class="page-link" asp-action="Index"  asp-route-page="@ViewBag.TotalPages">@ViewBag.TotalPages</a>
                    </li>
                }
            }

            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                <a class="page-link" asp-action="Index"  asp-route-page="@(ViewBag.CurrentPage + 1)">&raquo;</a>
            </li>
        </ul>
    </nav>
</div>