@model UserModel
@{
ViewData["Title"] = "Профіль";
var imageAv = Model.AvatarId;
}
<style>
    .row{
            background: -webkit-gradient(linear, left top, right top, from(#51a2f3), to(#1729b3));
     background: linear-gradient(to right, #1729b3, #51a2f3);
     position:absolute;
     width:contain;
    }
</style>
<div class="container" style="display:flex; justify-content:center;flex-direction: row; flex-wrap:wrap" >
    <div class="row align-items-center">
        <div class="col-lg-6 mb-4 mb-lg-0 text-center">
            <img src="/avatars/@(imageAv).png" width="256" height="256"/>
        </div>
        <div class="col-lg-6 px-xl-10">
            <div class=" text-black d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
           @Html.DisplayFor(model => model.Username)
            </div>
            <ul class="list-unstyled mb-5 text-black">
                <li class="mb-2 mb-xl-3 display-28"><span class="display-26 me-2 font-weight-500">Email:</span>@Html.DisplayFor(model => model.Email)</li>
                <li class="mb-2 mb-xl-3 display-28"><span class="display-26 me-2 font-weight-500">Регіон:</span>@Html.DisplayFor(model => model.Region)</li>
                <li class="mb-2 mb-xl-3 display-28"><span class="display-26 me-2 font-weight-500">Про себе:</span>@Html.DisplayFor(model => model.Biography)</li>
            </ul>
       <a href="@Url.Action("Edit", "Profile", new { id = Model.UserId })" 
   </a>
 </div>
    </div>

</div>
      
         
               