@model UserModel
@{
    ViewData["Title"] = "Profile";

    var message = TempData["ResetPassword"];
}

<div class="text-center">
    <h1 style="background-color:orange";class="display-4">User Profile</h1>
</div>
<div class="text-center">
    <h6 style="color: green"><b>@message</b></h6> 
</div>
<div class="Profile-stylish">
    <dl class="row">
    <dt style="font-size: 150%"; class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Username)
        </dt>
    <dd style="font-size: 150%"; class="col-sm-10">
                    @Html.DisplayFor(model => model.Username)
        </dd>
        <dt style="font-size: 150%"; class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
        </dt>
         <dd style="font-size: 150%"; class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
        </dd>
         <dt style="font-size: 150%"; class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Biography)
        </dt>
        <dd style="font-size: 150%"; class="col-sm-10">
                    @Html.DisplayFor(model => model.Biography)
        </dd>
         <dt style="font-size: 150%"; class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd style="font-size: 150%"; class="col-sm-10">
                    @Html.DisplayFor(model => model.Region)
        </dd>
    
        @{var imageAv = Model.AvatarId;
        }
        <dd style="font-size: 150%"; class="col-sm-10">
                 <img src="/avatars/@(imageAv).png"/>
        </dd>
      

        </dl>
    <div class="footer-links">
            @Html.ActionLink("Change Password", "ResetPassword")
    </div>
</div>
