@model UserModel
@{
ViewData["Title"] = "Profile";
var imageAv = Model.AvatarId;
}

<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 mb-4 mb-lg-0 text-center">
            <img src="/avatars/@(imageAv).png" width="256" height="256"/>
        </div>
        <div class="col-lg-6 px-xl-10">
            <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                <h3 class="h2  mb-0">@Html.DisplayFor(model => model.Username)</h3>
            </div>
            <ul class="list-unstyled mb-5 text-white">
                <li class="mb-2 mb-xl-3 display-28"><span class="display-26 me-2 font-weight-600">Email:</span>@Html.DisplayFor(model => model.Email)</li>
                <li class="mb-2 mb-xl-3 display-28"><span class="display-26 me-2 font-weight-600">Region:</span>@Html.DisplayFor(model => model.Region)</li>
                <li class="mb-2 mb-xl-3 display-28"><span class="display-26 me-2 font-weight-600">About Me:</span>@Html.DisplayFor(model => model.Biography)</li>
            </ul>
             @Html.ActionLink("Edit Profile", "Edit", new { }, new { @class = "btn btn-primary" })
        </div>
    </div>
    <div class="row mt-4">
    <div class="col-lg-12 text-center">
       
    </div>
</div>
</div> 